# Ignore node_modules in backend
/backend/node_modules/

# Ignore env file in backend
/backend/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Output directories
dist/
build/

# Coverage
coverage/

# Misc
*.tgz